.cartItem-img {
    height: 13rem;
    width: 13rem;
}

.cartItem-name {
    font-weight: bolder;
    color: saddlebrown;
}

.cartItem-price {
    font-weight: bold;
}

.cart-card {
    background-color: lightblue;
    height: 17rem;
}