.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
    gap: 2rem;
    justify-content: center;
}

.product-card {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
   transition: transform 200ms ease-in;
   height: 25rem;
}

.product-image {
    height: 11rem;
    object-fit: contain;
    padding: 5px;
}

.price {
    font-weight: bolder;
    color: saddlebrown;
}